// vim: ft=rasi
@theme "~/.config/rofi/style/color.rasi"

window {
    location: center;
    anchor: center;
    background-color: @bg0;
    children: [mainbox];
    width: 32em;
    height: 29em;
}

mainbox {
    spacing: 10px;
    children: [listbox];
    background-color: @bg0;
    orientation: horizontal;
}

listbox {
    children: [listview, entrybox];
    expand: true;
    background-color: transparent;
}

listview {
    background-color: transparent;
    expand: true;
    dynamic: true;
}

element {
    padding: 6px;
    horizontal-align: 0;
    border-radius: 12px;
    background-color: @bg0;
    color: @fg0;
    text-color: @fg0;
    highlight: bold underline;
}
element selected.normal, element selected.active {
    background-color: @selected;
    color: @fg0;
    text-color: @fg0;
    highlight: bold underline;
}
element active {
    background-color: @bg3;
    color: @fg0;
}

element-text {
    color: inherit;
    font: inherit;
    background-color: transparent;
}
element-icon {
    background-color: transparent;
}

element-text {
    padding: 0 0 0 1em;
}
entrybox {
    expand: false;
    background-color: transparent;
    orientation: horizontal;
    children: [entryline, entrycount];
    padding: 0 0 12px 0;
}

entryline {
    children: [message, entry];
    background-color: transparent;
    margin: 0em 0em 0em 1em;
    vertical-align: 1;
}

entrycount {
    children: [num-rows, num-filtered-rows];
    expand: false;
    background-color: transparent;
    margin: 0em 0em 0em 1em;
    horizontal-align: 1;
    width: 4em;
}

num-filtered-rows {
    background-color: inherit;
    color: @fg0;
    padding: 8px 0;
}

num-rows {
    background-color: inherit;
    color: @fg3;
    padding: 8px 0;
}

entry {
    expand: true;
    vertical-align: 1;
    background-color: @bg0;
    text-color: @fg0;
    cursor: text;
    placeholder: "/Search";
    placeholder-color: @fg3;
    padding: 8px 0 ;
}

message {
    background-color: @bg0;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: @fg3;
    padding: 8px 0;

}
textbox {
    text-color: @fg3;
    vertical-align: 0.5;
    horizontal-align: 0;
    background-color: transparent;
}
