@theme "~/.config/rofi/style/color.rasi"

window {
    location: center;
    anchor: center;
    background-color: @bg0;
    children: [listbox];
    width: 32em;
    height: 32em;
}

listbox {
    expand: true;
    background-color: transparent;
    children: [listview, entrybox];
}

listview {
    background-color: transparent;
    expand: true;
    dynamic: true;
}

element {
    padding: 6px;
    border-radius: 12px;
    background-color: @bg0;
    color: @fg0;
}
element selected.normal, element selected.active {
    background-color: @selected;
}
element selected.active, element active {
    background-color: @accent;
    color: @invert;
}

element-text {
    color: inherit;
    font: inherit;
    background-color: transparent;
}
element-icon {
    background-color: transparent;
}

entrybox {
    expand: false;
    background-color: inherit;
    children: [prompt, entry];
}

prompt {
    expand: false;
    padding: 0em 1em 0em 1em;
    color: @fg3;
    background-color: @bg0;
}

entry {
    background-color: @bg0;
    padding: 1em 1em 1em 1em;
    text-color: @fg0;
    cursor: text;
}

textbox {
    background-color: @bg0;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}
