// vim: ft=rasi
@theme "~/.config/rofi/style/color.rasi"

window {
    location: center;
    anchor: center;
    background-color: @bg0;
    children: [mainbox];
    width: 32em;
    height: 29em;
}

mainbox {
    spacing: 10px;
    children: [listbox, mode-switcher];
    background-color: @bg0;
    orientation: horizontal;
}

listbox {
    children: [listview, entrybox];
    expand: true;
    background-color: transparent;
}
mode-switcher {
    background-color: transparent;
    orientation: vertical;
    background-color: @bg0;
    border-radius: 12px;
}
button {
    background-color: @bg0;
    border-radius: 18px;
    text-color: @fg0;
    width: 2em;
    horizontal-align: 0.5;
}
button selected {
    background-color: @selected;
}

listview {
    padding: 8px;
    border-radius: 18px;
    background-color: transparent;
    dynamic: true;
    expand: true;
    columns: 2;
}

element {
    padding: 6px;
    border-radius: 14px;
    background-color: @bg0;
    color: @fg0;
    text-color: @fg0;
    highlight: bold underline;
}
element selected.normal,element selected.active {
    background-color: @selected;
    color: @fg0;
    text-color: @fg0;
    highlight: bold underline;
}
element normal.active, element alternate.active {
    text-color: @fg3;
}
element selected.active {
    text-color: @fg3;
}
element-text, element-icon {
    padding: 4px;
    background-color: inherit;
    text-color: inherit;
}
element-icon {
    size: 1.8em;
}

element-text {
    padding: 0 0 0 1em;
}
entrybox {
    expand: false;
    background-color: transparent;
    orientation: horizontal;
    children: [entrycount, entryline];
    padding: 0 0 12px 0;
}

entryline {
    children: [message, entry];
    background-color: transparent;
    margin: 0em 0em 0em 1em;
    vertical-align: 1;
}

entrycount {
    children: [num-rows, num-filtered-rows];
    expand: false;
    background-color: transparent;
    margin: 0em 0em 0em 1em;
    horizontal-align: 1;
    width: 2em;
}

num-filtered-rows {
    background-color: inherit;
    color: @fg0;
    padding: 8px 0;
}

num-rows {
    background-color: inherit;
    color: @fg3;
    padding: 8px 0;
}

entry {
    expand: true;
    vertical-align: 1;
    background-color: @bg0;
    text-color: @fg0;
    cursor: text;
    placeholder: "/Search";
    placeholder-color: @fg3;
    padding: 8px 0 ;
}

message {
    background-color: @bg0;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: @fg3;
    padding: 8px 0;

}
textbox {
    text-color: @fg3;
    vertical-align: 0.5;
    horizontal-align: 0;
    background-color: transparent;
}
