// vim: ft=rasi
configuration {
    show-icons: true;
    terminal: "kitty";
    icon-theme: "Tela-dark";
    drun-display-format: "{name}\n{comment}";
    drun-match-fields: "name";
    case-sensitive: false;
    cycle: false;
    scroll-method: 1;
    window-thumbnail: true;
    steal-focus: false;
    drun-use-desktop-cache: true;
    drun-reload-desktop-cache: true;
    kb-mode-next: "Tab";
    kb-element-next: "";
    kb-row-down: "Down,Alt+j";
    kb-row-up: "Up,Alt+k";
    kb-accept-alt: "";
    kb-accept-custom: "Alt+Return";
    kb-custom-1: "Shift+Return";
    kb-custom-2: "Ctrl+Return";
    line-margin: 10;
    modes: [drun,sway,marks,calc,sys];
    display-drun: "run";

    drun {
        display-name: "󰌧";
    }
    sway {
        display-name: "󱂬";
        fallback-icon: "wayland";
    }
    marks {
        display-name: "󰃃";
    }
    calc {
        display-name: "󱖦";
        calc-command: "wl-copy '{result}'";
        reuse-result: true;
        terse: true;
    }
    sys {
        display-name: "";
    }
    pass {
        display-name: "󱀰";
    }
}
@theme "~/.config/rofi/style/theme.rasi"
