.agenda-calendar {
    color: $fg0;
    font-size: 1.1rem;
    &.highlight {
        color: inherit;
    }
    &.button {
        background-color: unset;
    }
    &:indeterminate {
        color: $polar4;
    }
    &:selected {
        background-color: $accent;
        color: $inv;
        border-radius: 6px;
    }
    &.header {
    }
    :hover {
        color: $bg2;
    }
}

.agenda-calendar-section {
    @extend .section;
    padding: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.agenda-list-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.todo-title {
    transition: text-decoration 0.3s ease, color 0.3s ease;
    font-size: 1.3rem;
    color: $fg0;
    label {
        font-size: inherit;
        color: inherit;
    }
    &:hover {
        > label {
            text-decoration: line-through;
            color: $polar4;
        }
    }
}

.todo-task {
    @extend .section;
}

.todo-new {
    @extend .section;
}

.agenda-heading {
    color: $fg0;
    font-size: 1.6rem;
    margin-bottom: .2rem;
    margin-top: 1rem;
}
