.agenda-calendar {
    color: $fg0;
    font-size: 1.1rem;
    &.highlight {
        color: inherit;
    }
    &.button {
        background-color: unset;
    }
    &:indeterminate {
        color: $polar3;
    }
    &:selected {
        background-color: $accent;
        color: $inv;
        border-radius: 12px;
    }
    &.header {
    }
    :hover {
        color: $bg2;
    }
}

.agenda-calendar-section {
    @extend .section;
    padding: 1rem;
}

.agenda-list-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.todo-title {
    font-size: 1.3rem;
    color: $fg0;
}

.todo-task {
    @extend .section;
}

.todo-new {
    @extend .section;
}

.agenda-heading {
    color: $fg0;
    font-size: 1.6rem;
    margin-bottom: .2rem;
    margin-top: 1rem;
}
