$widget-bg: rgba($bg0, 0.3);
.background-widgets {
    margin: 4rem;
    margin-left: 2rem;
}

.background-content, .background-content-opaque {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: $widget-bg;
    border-radius: 12px 12px 0px 0px;
    color: inherit;
}

.background-content-opaque {
    background-color: $bg0;
    color: $fg0;
}

.background-time {
    color: inherit;
    font-size: 6rem;
}

.background-date {
    color: inherit;
    font-size: 4rem;
}

.background-clock {
    margin: 4rem;
}

.background-timer {
    margin-left: 3rem;
    color: inherit;
    label {
        min-width: 3rem;
        padding: 2.5rem;
        font-size: 3rem;
    }

    > button {
        &:hover {
            background-color: rgba($snow0, 0.1);
        }
    }
}

.background-calendar-box {
    margin: 2rem 4rem;
}
.background-calendar {
    color: inherit;
    font-size: 1.3rem;

    &.highlight {
        color: inherit;
    }
    &.button {
        background-color: unset;
    }
    &:indeterminate {
        color: rgba($snow0, 0.2);
    }
    &:selected {
        background-color: $snow0;
        color: $inv;
        border-radius: 12px;
    }
    &.header {
    }
}

.poem-content {
    color: inherit;
    padding: 1rem;
    margin: 2rem;
}

.poem-title {
    color: inherit;
    font-size: 1.5rem;
    font-style: italic;
}

.poem-text {
    color: inherit;
    font-size: 1rem;
    font-style: italic;
    font-size: 1.3rem;
}

.background-controls {
    background-color: $bg0;
    border-radius: 0px 0px 12px 12px;
    padding: 1rem;
}

.calendar-title {
    color: inherit;
    font-size: 1.2rem;
}
