.top-bar {
    background-color: $bg0;
}

.top-bar-left {}
.top-bar-center {}
.top-bar-right {}

.popup-win {
    background-color: $bg0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    margin: 2rem;
    margin-top: 4rem;
    padding: 0.4rem;
    border-radius: 24px;
    min-width: 10rem;
    min-height: 4rem;
}

