@mixin mode($name, $color) {
    .mode-#{$name} {
        @extend .button;
        padding: 0.07rem 0.85rem 0.07rem 0.85rem;
        min-width: 3.5rem;
        background-color: mix($bg1, $color);
        &:hover {
            background-color: mix($bg1, $color, 60%);
        }
    }
}

@include mode(default,    $bg1);
@include mode(media,      $purple);
@include mode(screenshot, $lblue);
@include mode(config,     $yellow);
@include mode(insert,     $red);
@include mode(clipboard,  $orange);
@include mode(exec,       $green);

.mode-keys {
    color: $lblue;
    /* font-style: italic; */
    margin-right: .6rem;
}

.mode-mod {
    color: $orange;
    /* font-style: italic; */
    margin-right: .6rem;
}

.mode-action {
    @extend .text;
}

.mode-box {
    /* background-color: $bg1; */
    border-right: 1px solid $bg3;
    padding: 0rem .8rem 0rem .8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.mark {
    @extend .button;
    background-color: $bg-faint;
    &:hover {
        background-color: $bg1;
    }
    &.active {
        color: $fg0;
        background-color: mix($bg-faint, $lblue);
    }
}
