.mode-hints {

}

.mode {
    @extend .button;
    padding: 0.07rem 0.85rem 0.07rem 0.85rem;
}

.mode-default { @extend .mode; }

.mode-media {
    @extend .mode;
    background-color: $accent;
    color: $inv;
    &:hover { background-color: fade($accent); }
}

.mode-screenshot {
    @extend .mode;
    background-color: $lblue;
    color: $inv;
    &:hover { background-color: fade($lblue); }
}

.mode-config {
    @extend .mode;
    color: $inv;
    background-color: $green;
    &:hover { background-color: fade($green); }
}

.mode-insert {
    @extend .mode;
    color: $inv;
    background-color: $yellow;
    &:hover { background-color: fade($yellow); }
}

.mode-clipboard {
    @extend .mode;
    color: $inv;
    background-color: $pink;
    &:hover { background-color: fade($pink); }
}

.mode-keys {
    color: $lblue;
    /* font-style: italic; */
    margin-right: .6rem;
}

.mode-mod {
    color: $orange;
    /* font-style: italic; */
    margin-right: .6rem;
}

.mode-action {
    @extend .text;
}

.mode-box {
    /* background-color: $bg1; */
    border-right: 1px solid $bg3;
    padding: 0rem 1rem 0rem 1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.mark {
    @extend .button;
    margin-right: 0.4rem;
}
