.mpris-playing, .mpris-paused {
    padding-right: .2rem;
}
.mpris-playing {
    background: linear-gradient(90deg, mix($bg1, $accent), $bg0);
    &:hover {
        background: linear-gradient(90deg, $accent, mix($bg2, $accent) 20%, $bg1);
    }
}

.mpris-paused {
    color: $bright-gray;
}

.bar-circle {
    @extend .circle;
    color: $accent;
    margin-left: 1rem;
    label {
        font-style: normal;
        margin: .4rem;
        font-size: .8rem;
        min-width: 2rem;
        padding: unset;
    }
}
