.tray-container {
    background-color: $bg1;
    border-radius: 12px;
    margin: 0.4rem;
    .tray-reveal-button {
        color: $fg0;
        border-radius: 12px;
        padding: 0em 1rem 0em 0.9rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
            background-color: $bg2;
        }
    }
}

.tray-box {
    border-radius: 12px;
    background-color: $tray-bg;
    > * {
        &:hover {
            > image {
                background-color: $tray-hover;
            }
        }
        > image {
            @extend .status-text;
        }
    }
}

window {
    decoration {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;

        background-clip: padding-box;
        margin: 1rem;
        border-radius: 24px;
    }

}
menu {
    background-color: $bg0;
    border-radius: 16px;
    color: $fg0;
    margin: 2rem;
    padding: 0.6rem;

    menu {
        border-radius: 8px;
    }

    separator {
        margin: 4px;
        min-height: .1rem;
        border-radius: 2rem;
        background-color: $bg-faint;
    }
    menuitem {
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 8px;
        min-height: 1.2rem;
        padding: 0.5rem;
        margin: .1rem;

        &:hover {
            background-color: $bg1;
        }
    }
    check {
        min-height: 1.2rem;
        min-width: 1.2rem;
    }
}

menu label:disabled {
    color: $bright-gray;
}

menubar {
    > menuitem {
        border-radius: 12px;
        background-color: $bg2;
        &:hover{
            background-color: $bg3;
        }
    }
}

arrow.right, arrow.left {
    border-radius: 2rem;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $fg0;
}
