.weather-hour, .weather-hour-now, .weather-hour-past {
    background-color: $bg2;
    padding: .3rem;
    border-radius: 12px;
}

.weather-hour-past {
    background-color: $bg1;
}
.weather-hour-now {
    background-color: mix($bg3, $accent);
}
