.weather-hour, .weather-hour-now, .weather-hour-past {
    background-color: $bg2;
    padding: .3rem;
    border-radius: 12px;
    color: $fg0;

    &.cold {
        background-color: mix($bg2, $dblue);
    }
    &.cool {
        background-color: mix($bg2, $teal);
    }
    &.temperate {
        background-color: mix($bg2, $green);
    }
    &.warm {
        background-color: mix($bg2, $yellow);
    }
    &.hot {
        background-color: mix($bg2, $orange);
    }
    &.burning {
        background-color: mix($bg2, $red);
    }
}

.weather-hour-past {
    background-color: $bg1;
    color: $bright-gray;
}
